/***
 *	TIM dispatcher .css 
 *
 *	Copyright 2022 Michael Stumpp <mstumpp@hwn.de>
 *
 */

:root {
	--stone-200: #e7e5e4;
	--stone-500: #78716C;
	--stone-800: #292524;
	--slate-500: #64748B;
}
body {
	background-image: linear-gradient(white, white, var(--stone-200));
	background-attachment: fixed;
 	height: 100vh;
	accent-color: var(--slate-500);
}
a, a:hover {
	text-decoration: none;
}

main {
}
header {
}
footer {
}

hr {
	border-color:var(--stone-500);
}

.w3-spin{animation:w3-spin 2s 1 linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

.w3-button {
	width: 5rem;
}

.hwn-capitalize {
	text-transform: capitalize;
}
.hwn-uppercase {
	text-transform: uppercase;
}
.hwn-lowercase {
	text-transform: lowercase;
}



/*** ************************************************************** ***/


.hwn-pale-stone,.hwn-hover-pale-stone:hover{color:#000!important;background-color:#e7e5e4!important}
.hwn-text-pale-stone,.hwn-hover-text-pale-stone:hover{color:#e7e5e4!important}
.hwn-border-pale-stone,.hwn-hover-border-pale-stone:hover{border-color:#e7e5e4!important}

.hwn-stone,.hwn-hover-stone:hover{color:#000!important;background-color:#78716C!important}
.hwn-text-stone,.hwn-hover-text-stone:hover{color:#78716C!important}
.hwn-border-stone,.hwn-hover-border-stone:hover{border-color:#78716C!important}

.hwn-dark-stone,.hwn-hover-dark-stone:hover{color:#fff!important;background-color:#292524!important}
.hwn-text-dark-stone,.hwn-hover-text-dark-stone:hover{color:#292524!important}
.hwn-border-dark-stone,.hwn-hover-border-dark-stone:hover{border-color:#292524!important}
.hwn-border-dark-stone,.hwn-hover-border-dark-stone:hover{border-color:#292524!important}

/*** ************************************************************** ***/

.hidden-fileselector {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.tag-word {
	color: red;
	text-transform: uppercase;
}
