<!-- TIM dispatcher snippet - about.njk -->

<div class="w3-row-padding">
	<div class="w3-col w3-center" style="width: 10rem">
		<p>
		<img src="res/timlogo.png" class="w3-image" style="height: 8rem; margin-top: 8px;" onclick="document.getElementById('release').style.display='block';">
		</p>
	</div>
	<div class="w3-col w3-center" style="width: 15rem">
		<p>
			<b>{{ site.title }}</b><br>
			Version {{ site.version }}<br><br>
			{% if not site.author.hide %}
			&copy; {{ site.author.year | d("2022") }}<br>
			{% endif %}
			{{ site.author.name }}<br>
			{{ site.author.code | safe }}
		</p>
	</div>
	<div class="w3-rest w3-margin-left w3-cell-middle" style="text-align: justify;">
		<p>
			Dieses Programm ist ausschließlich zur Nutzung
			innerhalb der Deutschen Bahn AG zugelassen.
		</p>
	</div>
</div>
