<!-- deutschebahn snippet - footer.njk
  -- 06.08.2023 - konsolidiert + footer... switch
  -- 07.08.2023 - footer.server verschoben nach tim.njk
  -- 08.08.2023 - button to hide version string
  -->

<footer class="w3-bottom" style="height:48px;">
	<div class="w3-container w3-transparent w3-padding-large w3-center">
		<button class="w3-mobile w3-hide-small w3-btn w3-left" onclick='toggle_visibility();'>&nbsp;</button> <!-- was: &#127465;&#127466; -->


		<div id="copyright" class="w3-mobile w3-hide-small">
			<span class="w3-text-blue-grey">
				{% if not site.author.hide %}&copy; 2023 {% endif %}
				<a href="{{ site.url.impressum }}">{{ site.author.name }}</a> 
				<span id="versionstring"></span> <span id="dataversion"></span>
			</span>
		</div>

	</div>
</footer>

<script>
function toggle_visibility() {
  var domX = document.getElementById("copyright");
  if (domX.style.display === "none") {
    domX.style.display = "block";
  } else {
    domX.style.display = "none";
  }
} 
</script>
