<!--	doc from dbdocs from qnap intranet
  --
		21.12.2023 1.1 neu - mit Menüfarbe und Hamburger Menu
-->

{% set colorclass %}
w3-{{ menucolor | default('black')}}
{% endset %}

{% macro dropdown_item(caption, url, tooltip='', color='black') %}
	<a href="{{url}}" target="{{ 'external' if (''+url).startsWith('http') else '_self' }}" class="w3-tooltip w3-bar-item w3-button w3-{{color}}">{{caption|safe}} <span class="w3-text w3-tag">{{tooltip|safe}}</span></a>
{% endmacro %}

<header class="{{ "w3-top" if not head.topscroll }} {{ colorclass }}">
	<div class="w3-cell-row">
		
		<!-- LOGO Abschnitt -->
		<div class="w3-mobile w3-container w3-cell w3-cell-middle w3-hover-shadow {{ head.class }}" style="width:15rem">
			<a href="{{ site.url.home | default('/') }}">
				<h3 id="site-caption"
					class="color-text-header" style="font-weight: 550;"
					title="{{ description if description else site.description }}">
					<img src="{{site.pagelogo}}" style="float:left;height:36px;margin-right:12px;"
						 id="pagelogo"
						 onmouseover="document.getElementById('pagelogo').classList.add('w3-spin');"
						 onmouseout="document.getElementById('pagelogo').classList.remove('w3-spin');">
					{{ caption if caption else site.caption}}
				</h3>
			</a>
		</div>
		<!-- Ende LOGO Abschnitt -->
		
		<!-- TOP MENU Mitte-->
		<div class="w3-hide-small w3-container w3-cell w3-cell-middle">
			<div class="w3-bar {{ colorclass }}">
			{% for item in menu %}
				{% if item.menu or item.data %}
					<div class="w3-dropdown-hover">
						<button class="w3-button {{ colorclass }}">{{ item.name | safe }}</button>
						<div class="w3-dropdown-content w3-bar-block w3-card-4">
						{% if item.data == 'functions' %}
							{%- for subitem in functions -%}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip,'Device: '+subitem.ip, 'dark-grey') }}
							{%- endfor -%}
						{% elif item.data == 'devices' %}
							{% for subitem in devices %}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip, subitem.ip) }}
							{% endfor %}
						{% elif item.data == 'server' %}
							{% for subitem in server %}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip,'Server: '+subitem.ip, 'blue-grey') }}
							{% endfor %}
						{% elif item.data == 'manuals' %}
							{% for subitem in manuals %}
								{{ dropdown_item(subitem.name, subitem.url, subitem.lang + ' ' + subitem.url, 'dark-grey' ) }}
							{% endfor %}
						{% elif item.data == 'toolchain' %}
							{% for subitem in toolchain %}
								{{ dropdown_item(subitem.name, subitem.url, subitem.lang + ' ' + subitem.url, 'dark-grey' ) }}
							{% endfor %}
						{% elif item.data == 'illustrations' %}
							{% for subitem in illustrations %}
								{{ dropdown_item(subitem.name, subitem.url, subitem.lang + ' ' + subitem.url, 'dark-grey' ) }}
							{% endfor %}
						{% else %}				
							{% for subitem in item.menu %}
								{% if subitem.lang %}
									{{ dropdown_item(subitem.name,subitem.url, subitem.lang + ' ' + subitem.url, menucolor) }}
								{% else %}
									{{ dropdown_item(subitem.name,subitem.url, subitem.url, menucolor) }}
								{% endif %}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				{% elif item.url %}
					<a href="{{item.url}}" class="w3-bar-item w3-button">{{ item.name | safe }}</a>
				{% elif item.name %}
					<a href="#" class="w3-bar-item w3-button">{{ item.name | safe }}</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<!-- Ende TOP MENU Mitte-->

		<!-- Zweites Logo oben rechts-->
		<div class="w3-container w3-cell w3-cell-middle" style="position:absolute;top:4px;right:-16px;">
			<div class="w3-hide-small">
				<button class="w3-btn"
						style="margin-top:0;"
						onclick="document.getElementById('about').style.display='block';"
						>
					{%- if true -%}{% lucide "scroll-text" ,{ "size":"32" } %}{%- else -%}&nbsp;{%- endif -%}
				</button>
			</div>
		</div>
		<!-- Ende Zweites Logo oben rechts-->
		

<!--
DAS HAMBURGER MENÜ IST UNVOLLSTÄNDIG - DROPDOWN VON DROPDOWN HABEN WIR NOCH NICHT 
-->
		<!-- Hamburger Menu oben rechts --> 
		<div class="w3-container w3-hide-medium w3-hide-large w3-cell w3-cell-middle" style="position:absolute;top:4px;right:-16px;">
			<div class="w3-dropdown-hover">
				<button class="w3-btn {{ colorclass }}">{% lucide "menu" %}</button>
				<div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
				{% for item in menu %}
					{% if item.menu or item.data %}
						{{ dropdown_item(item.name,'#','gesperrt', menucolor) }}
					{% else %}
						{{ dropdown_item(item.name,item.url,'', menucolor) }}
					{% endif %}
				{% endfor %}
					<button class="w3-bar-item w3-button {{ colorclass }}"
							onclick="document.getElementById('about').style.display='block';"
							title="{{ site.title }} Version {{ site.version }}">
						Info
					</button>
				</div>
			</div>
		</div>
		<!-- Ende Hamburger -->

	</div>

	<hr class="color-border-header w3-hide-small" style="margin-top:0; border: 1px solid;">
</header>
