<!--	dbdocs from qnap intranet
  --
		30.11.2023 1.0 neu - mit PHP Unterstützung

-->

{% macro dropdown_item(caption, url, tooltip='', color='black') %}
	<a href="{{url}}" class="w3-tooltip w3-bar-item w3-button w3-{{color}}">{{caption|safe}} <span class="w3-text w3-tag">{{tooltip|safe}}</span></a>
{% endmacro %}




<header class="{{ "w3-top" if not head.topscroll }} w3-{{ menucolor | default('black') }}">

	<div class="w3-cell-row color-header">

		<!-- LOGO Abschnitt -->
		<div class="w3-mobile w3-container w3-cell w3-cell-middle w3-hover-shadow {{ head.class }}" style="width:15rem">
			<a href="{{ site.url.home | default('/') }}">
				<h3 id="site-caption"
					class="color-text-header" style="font-weight: 550;"
					title="{{ description if description else site.description }}">
					<img src="{{site.pagelogo}}" style="float:left;height:36px;margin-right:12px;"
						 id="pagelogo"
						 onmouseover="document.getElementById('pagelogo').classList.add('w3-spin');"
						 onmouseout="document.getElementById('pagelogo').classList.remove('w3-spin');">
					{{ caption if caption else site.caption}}
				</h3>
			</a>
		</div>

		<!-- TOP MENU Mitte-->
		<div class="w3-hide-small w3-container">
			<div class="w3-bar w3-{{ menucolor | default('black') }} w3-cell w3-cell-middle">
			{% for item in menu %}
				{% if item.menu or item.data %}
					<div class="w3-dropdown-hover">
						<button class="w3-button w3-{{ menucolor | default('black') }}">{{ item.name }}</button>
						<div class="w3-dropdown-content w3-bar-block w3-card-4">
						{% if item.data == 'functions' %}
							{%- for subitem in functions -%}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip,'Device: '+subitem.ip, 'dark-grey') }}
							{%- endfor -%}
						{% elif item.data == 'devices' %}
							{% for subitem in devices %}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip, subitem.ip) }}
							{% endfor %}
						{% elif item.data == 'server' %}
							{% for subitem in server %}
								{{ dropdown_item(subitem.name,'http://'+subitem.ip,'Server: '+subitem.ip, 'blue-grey') }}
							{% endfor %}
						{% elif item.data == 'manuals' %}
							{% for subitem in manuals %}
								{{ dropdown_item(subitem.name, subitem.url, subitem.lang + ' ' + subitem.url, 'dark-grey' ) }}
							{% endfor %}
						{% else %}				
							{% for subitem in item.menu %}
								{{ dropdown_item(subitem.name,subitem.url,subitem.url, menucolor) }}
							{% endfor %}
						{% endif %}
						</div>
					</div>
				{% else %}
					<a href="{{item.url}}" class="w3-bar-item w3-button">{{ item.name }}</a>
				{% endif %}
			{% endfor %}
			</div>

		<div class="w3-container w3-cell w3-cell-middle w3-right-align" style="width:10rem;">
			<!-- Zweites Logo oben rechts-->
			<div class="w3-hide-small">
			{% if testbutton %}
				<a>
					<img src="{{site.imagedir}}/assistant_navigation.svg"
						 class="w3-hover-shadow w3-image w3-section"
						 style="width:32px; height:32px; cursor:pointer;"
						 onclick="setServerStatus();"
						 title="Überprüfung des Online Status der Server (Methode 2)">
				</a>
				<span class="w3-large color-text-header">|</span>
			{% endif %}
				<button class="w3-btn color-text-header"
						style="margin-top:0;"
						onclick="document.getElementById('about').style.display='block';"
						>
					{% lucide "info" ,{ "size":"32" } %}
				</button>
			</div>

<!--
DAS HAMBURGER MENÜ MUSS KOMPLETT NEU GEMACHT WERDEN - DROPDOWN VON DROPDOWN HABEN WIR NOCH NICHT 
-->
			<!-- Hamburger Menu oben rechts --> 
			<div class="w3-hide-medium w3-hide-large">
				<div class="w3-dropdown-hover">
					<button class="w3-btn w3-red color-hover-menu">{% lucide "menu" %}</button>
					<div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
					{% for item in menu %}
					  {% if item.menu or item.data %}
						{% if item.url -%}
							<a class="" href="{{ item.url }}" {% if item.target -%}target="{{ item.target }}"{%- endif %}>
						{%- endif %}
						<button {% if item.action -%}onclick="{{ item.action }}"{%- endif %}
								{% if item.disabled %}disabled{% endif %}
								class="w3-bar-item w3-button hwn-btn color-menu color-hover-menu {% if item.menu-right %}w3-right w3-right-align{% endif %}"
								{% if item.hint -%}title="{{ item.hint }}"{%- endif %}
						>
							{{ item.caption }}
						</button>
						{%if item.url %}</a>{% endif %}
					  {%- endif %}
					{% endfor %}
						<button class="w3-bar-item w3-button hwn-btn color-menu color-hover-menu"
								onclick="document.getElementById('about').style.display='block';"
								title="{{ site.title }} Version {{ site.version }}">
							Info
						</button>
					</div>
				</div>

			</div>
			<!-- Ende Hamburger -->
		</div>
	</div>
	</div>


	<hr class="color-border-header w3-hide-small" style="margin-top:0; border: 1px solid;">
</header>
