<!-- deutschebahn snippet - license.njk -->

<!--
<div class="w3-panel w3-blue-grey w3-round-large w3-opacity">
	<h3 class="">Lizenz: <a href="https://de.wikipedia.org/wiki/ISC-Lizenz" target="_license">ISC</a></h3>
</div>
-->
<pre class="w3-left-align">
{%- if site.author.hide -%}
/*
{%- else -%}
/*
 * Copyright (c) {{ site.author.year | d("2022") }} {{ site.author.name }} &lt;{{ site.author.code | safe }}&gt;
 *
{%- endif %}
 * Permission to use, copy, modify, and distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */
</pre>

