<!-- Redirecting ..
  --
  --
  -->


<style>
	.rd_main {	
		height:100vh; 
		background-color: #DEF; 
  	}

	.rd_image {	
		height:100vh; 
		background-color: #DEF; 
		background-image: url('/res/img/dragon.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center; 
		background-size: auto;
  	}
	.rd_text {
		text-align: center;	
		padding: 0.5em;
		color: #ace;
		font-size:1.5rem;
		font-size-adjust:0.58;
		font-family: Arial, Helvetica, sans-serif;
		font-stretch:expanded;
		font-variant: small-caps;
		font-weight: bold;
  	}		
</style>

<div class="rd_main rd_image" onclick="window.location.replace('{{ meta_url }}');">
	<div class="rd_text">
		Sie werden weitergeleitet &hellip;
	</div>
</div>
