<!-- deutschebahn snippet - release.njk -->

<pre class="w3-left-align">
  {{ site.title }}
  Version {{ site.version }}
  Release Notes
{%- if site.author.hide -%}
{%- else -%}
  Copyright (c) {{ site.author.year | d("2022") }} {{ site.author.name }} &lt;{{ site.author.code | safe }}&gt;
{%- endif %}
    
  v0.4
    * ITBF-8 Adress-Schema erweitert
    * TIM Dispatcher integriert
    - Mobile Responsiveness verbessert
  v0.3
    + ITBF-8 Adress-Schema
    - Protoyp Netzwerkportal
  v0.2
    + Ulmer Bahnhofsuhr
  v0.1
    + Erstausgabe
    
</pre>

