---
layout: main.njk
dbstyle: false
testbutton: false
---
 
<!-- layout für die Übersichtskarten
  -- Trägerdatei ist eine .md Datei 
  -- Layout kommt aus einer .json Datei
  -- 
  -- 08.09.2023 - konsolidiert aus stumpp.name 2022 und db-tim
  -->

{% if not display_after %}
	<div class="w3-container">
	{{ content | safe }}
	</div>
	{% if content %}<hr class="w3-border-lime">{% endif %}
{% endif %}

<div class="w3-container w3-row-padding w3-stretch">
	{% for card in cards %}
		{% set display = not ( data.hide or data.hide_card or (data.hide_prod and site.env) ) %}
		{% if display %}
		<article class="w3-col m6 l4 w3-padding">
			<div class="w3-card-4">
				
				<header>
					{% if card.url -%}<a href="{{ card.url }}" title="{{ card.hint | safe }}">{%- endif %}
						<div class="w3-container w3-padding w3-{{ card.color | d('gray') }} w3-hover-shadow caption"
							{% if card.action -%}onclick="{{ card.action }}"{%- endif %}>
							<b>{{ card.title | d('&nbsp;') | safe }}</b>
							{% if card.icon %}
							<span class="w3-right">{% lucide card.icon, { "size": "20px" } %}</span>
							{% endif %}
						</div>
					{%if card.url -%}</a>{%- endif %}
				</header>
				<div class="w3-container w3-white w3-hide-small">
					<div class="w3-col w3-center w3-hover-shadow hwn-overflow" style="width:5rem;margin:8px 4px;vertical-align:middle;">
						{% if card.url -%}<a href="{{ card.url }}" title="{{ card.hint | safe }}">{%- endif %}
							<div class="w3-image w3-padding" {% if card.action -%}onclick="{{ card.action }}"{%- endif %}>
								{% set icon %}{{ card.icon | d('zap') }}{% endset %}
								{% lucide icon, { "size": "3rem" } %}
							</div>
						{%if card.url %}</a>{% endif %}
					</div>
					<div class="w3-rest w3-padding-tiny w3-container w3-small w3-hide-small" style="height:6rem;overflow:auto">
						<p>{% for line in card.text %}
							{{ line | safe }}<br>
						{% endfor %}</p>
					</div>
				</div>
			
				<footer>
					<div class="w3-container w3-padding w3-light-grey w3-tiny" style="height:2rem;overflow:hidden"
						{% if card.action -%}onclick="{{ card.action }}"{%- endif %}>
						{% if card.url -%}<a href="{{ card.url }}" title="{{ card.hint | safe }}" class="w3-margin-bottom">{%- endif %}
							{{ card.bottom | d("&nbsp;") | safe }}
						{% if card.url -%}</a>{%- endif %}
					</div>
				</footer>
			</div>
		</article>
		{% endif %}
	{% endfor %}
</div>

{% if display_after %}
	{% if content %}<hr class="w3-border-lime">{% endif %}
	<div class="w3-container">
	{{ content | safe }}
	</div>
{% endif %}
