---
type: layout
layout: main.njk
imgdir: /static/img
disclaimer: |
  <div class="w3-panel w3-pale-yellow w3-text-gray w3-leftbar w3-bottombar w3-border-yellow w3-large w3-padding">
  Hier sind noch keine Informationen vorhanden. 
  Stattdessen werden Dummy-Texte mit den pseudo-lateinischen <a href="https://lipsum.com">lorem ipsum</a>-Inhalten angezeigt. 
  Diese Texte haben keinen sinnhaften Gehalt, auch wenn sich unlängst herausgestellt hat,
  dass verschiedene KI-Übersetzer durchaus in der Lage sind, 
  deutschsprachige Übersetzungen fragwürdigen Inhalts zu liefern.
  </div>
---

<style>
.markdown a, .markdown a:hover {
	color: #3f51b5;
	font-weight: 700;
	text-decoration: none;
}
</style>

<div class="w3-container markdown" style="float:none">
	<div class= "w3-small w3-padding-small w3-right w3-text-{{format.menucolor}}">
		{{ page.date.toISOString().slice(8,10) }}.{{ page.date.toISOString().slice(5,7) }}.{{ page.date.toISOString().slice(0,4) }}
	</div>
	{{ content | safe }}
</div>

