---
layout: docs.njk
caption: "ibmanager"
description: "IB-Manager"
menucolor: brown
menu:
    - name: 🔼
      hint: Zurück zur Hauptseite
      icon: home
      url: /ibmanager
    - name: Benutzerhandbuch
      url: /ibmanager/manual
    - name: Technik
      menu:
        - name: "Technische Dokumentation"
          url: /ibmanager/techdoc
        - name: "Entwickler-Doku"
          url: /ibmanager/developer
---
{{ content | safe }}
