---
layout: main.njk
caption: "notebook"
description: "GA-Service-Notebook"
imgdir: /static/img
menucolor: yellow
menu:
    - name: 🔼
      hint: Zurück zur Hauptseite
      icon: home
      url: /notebook
    - name: Allgemein
      hint: Grundsatz-Dokumente
      icon: clock
      menu:
        - name: "Übersicht"
          url: /notebook/summary
        - name: "Proof-Of-Concept"
          url: /notebook/proofofconcept
    - name: Einrichtung
      url: /notebook/einrichtung
    - name: Netzwerk
      url: /notebook/netzwerk

---
{{ content | safe }}

