<!-- TIM dispatcher snippet - about.njk -->
<!-- 06.08.2023 - w3-mobile -->
<!-- 01.12.2023 - site.pagelogo -->

<div class="w3-row-padding">
	<div class="w3-mobile w3-col w3-center" style="width: 10rem">
		<p>
		<img src="{{site.pagelogo}}" class="w3-image" style="height: 8rem; margin-top: 8px;" onclick="document.getElementById('release').style.display='block';">
		</p>
	</div>
	<div class="w3-mobile w3-col w3-center" style="width: 15rem">
		<p>
			<b>{{ site.title }}</b><br>
			Version {{ pkg.version }}<br><br>
			{% if not site.author.hide %}
			&copy; {{ site.author.year | d("2022") }}<br>
			{% endif %}
			{{ site.author.name }}<br>
			{{ site.author.code | safe }}
		</p>
	</div>
	<div class="w3-mobile w3-rest w3-margin-left w3-cell-middle" style="text-align:justify;">
		<p>
			Diese Webseite ist ein rein privates Angebot.
			Von dieser Seite werden keine Cookies oder andere Tracking-Methoden eingesetzt.
			Die Seite nutzt, soweit möglich, lokale Kopien der eingesetzen Bibliotheken und Ressourcen.
		</p>
	</div>
</div>
