<!-- Das Drachen-Template -->


<!--
<div class="w3-panel w3-black w3-center" style="max-height:3.5rem; overflow-x:hidden">	
	<h4>Hic sunt dracones.</h4>
</div>
-->

<img src="res/img/dragon.png" class="w3-image">

<div class="w3-panel w3-black w3-center" style="max-height:3.5rem; overflow-x:hidden">	
	<h4>Hic sunt dracones.</h4>
</div>
