<!-- DB TOOLS NETWORK
 --- ITBF 8
 --- ITBF-8 Schema
 --- 10.08.2023 uglified itbf8.js 
 --->
 
<style>
	.xl,.xi {padding:8px;display:block;border:none;margin-bottom:4px}
	.xl {font-style: italic; max-height: 38px; overflow:hidden;}
	.xl b {font-style:normal}
	.xi {font-weight: bold;}
	.w3-tag {cursor: pointer;}
	.d1 { display:none}
	.d2 { display:none}
	.d3 { display:none}
</style>

<div class="w3-row w3-padding-16">
	<div class="w3-container w3-row-padding">
		<div class="w3-col m6 l4 w3-container w3-card-4">
			<h6><b>Netzwerk</b></h6>
			<input id="ip-search" onchange="xeq_cmd(0,'**',$('#ip-search').val());" class="w3-input w3-border w3-round-large" placeholder="Suche nach Netzwerk">
			<div class="w3-bar w3-padding-16">
				<button onclick="xeq_cmd(0,'|<');" class="w3-btn"><img style="height:24px" src="res/img/first_page.svg" alt="anfang"></button>
				<button onclick="xeq_cmd(0,'<<',$('#ip-subnet').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_left.svg" alt="voriges"></button>
				<button onclick="xeq_cmd(0,'**',$('#ip-search').val());" class="w3-btn"><img style="height:24px" src="res/img/search.svg" alt="suchen"></button>
				<button onclick="xeq_cmd(0,'>>',$('#ip-subnet').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_right.svg" alt="nächstes"></button></button>
				<button onclick="xeq_cmd(0,'>|');" class="w3-btn"><img style="height:24px" src="res/img/last_page.svg" alt="ende"></button>
			</div>
		</div>
		<div class="w3-col m6 l4 w3-container w3-card-4">
			<h6><b>Bf.-Nummer</b></h6>
			<input id="nr-search" onchange="xeq_cmd(1,'**',$('#nr-search').val());" class="w3-input w3-border w3-round-large" placeholder="Suche nach Bahnhofsnummer">
			<div class="w3-bar w3-padding-16">
				<button onclick="xeq_cmd(1,'|<');" class="w3-btn"><img style="height:24px" src="res/img/first_page.svg" alt="anfang"></button>
				<button onclick="xeq_cmd(1,'<<',$('#bf-number').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_left.svg" alt="voriges"></button>
				<button onclick="xeq_cmd(1,'**',$('#nr-search').val());" class="w3-btn"><img style="height:24px" src="res/img/search.svg" alt="suchen"></button>
				<button onclick="xeq_cmd(1,'>>',$('#bf-number').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_right.svg" alt="nächstes"></button></button>
				<button onclick="xeq_cmd(1,'>|');" class="w3-btn"><img style="height:24px" src="res/img/last_page.svg" alt="ende"></button>
			</div>
		</div>
		<div class="w3-col m12 l4 w3-container w3-card-4">
			<h6><b>Bf.-Name</b></h6>
			<input id="name-search" onchange="xeq_cmd(2,'**',$('#name-search').val());" class="w3-input w3-border w3-round-large" placeholder="Suche nach Bahnhofsname">
			<div class="w3-bar w3-padding-16">
				<button onclick="xeq_cmd(2,'|<');" class="w3-btn"><img style="height:24px" src="res/img/first_page.svg" alt="anfang"></button>
				<button onclick="xeq_cmd(2,'<<',$('#bf-name').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_left.svg" alt="voriges"></button>
				<button onclick="xeq_cmd(2,'**',$('#name-search').val());" class="w3-btn"><img style="height:24px" src="res/img/search.svg" alt="suchen"></button>
				<button onclick="xeq_cmd(2,'>>',$('#bf-name').val());" class="w3-btn"><img style="height:24px" src="res/img/chevron_right.svg" alt="nächstes"></button></button>
				<button onclick="xeq_cmd(2,'>|');" class="w3-btn"><img style="height:24px" src="res/img/last_page.svg" alt="ende"></button>
			</div>
		</div>
	</div>
</div> 
<div class="w3-row w3-card-4 w3-padding-16">
	<div class="w3-col m12 l6 w3-container">
		<header class="w3-container w3-red">
			<div class="w3-section w3-small w3-right">
				<span id="d1" class="w3-tag w3-small w3-round" onclick="xeq_show('d1');"><b>1</b></span>
				<span id="d2" class="w3-tag w3-small w3-round" onclick="xeq_show('d2');"><b>2</b></span>
				<span id="d3" class="w3-tag w3-small w3-round" onclick="xeq_show('d3');"><b>3</b></span>
			</div>
			<h4>Netzwerk</h4>
 		</header>
		<div class="w3-section">
			<label class="xl w3-third">IP Subnetz</label>		<input id="ip-subnet" 	readonly class="xi w3-twothird w3-sand" value="0.0.0.0/0"><br>

<span class="d1">
			<label class="xl w3-third">Erste IP-Adresse</label>	<input id="ip-first" 	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">Letzte IP Adresse</label><input id="ip-last" 	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">Subnetz-Maske</label>	<input id="ip-mask"		readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">Anzahl Adressen</label>	<input id="ip-count" 	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
</span>
<span class="d2">
			<label class="xl w3-third"><b>A:</b> LAN System &hellip;</label>	<input id="range-lan"		readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third"><b>B:</b> BACnet System &hellip;</label>	<input id="range-bacsys"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third"><b>C:</b> BACnet Devices</label>			<input id="range-bacdev"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third"><b>D:</b> Service-Bereich</label>		<input id="range-service"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
</span>
<span class="d3">

			<label class="xl w3-third">Standard Gateway</label>			<input id="ip-gateway"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">BBMD IP-Adresse</label>			<input id="ip-bbmd"		readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">BACnet Router ab &hellip;</label><input id="ip-router"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
			<label class="xl w3-third">Geräte ab &hellip;</label>		<input id="ip-devices"	readonly class="xi w3-twothird w3-sand" value="nicht berechnet"><br>
</span>
		</div>
	</div>
	<div class="w3-col m12 l6 w3-container ">
		<header class="w3-container w3-blue">
		<h4>Verkehrsstation</h4>
		</header>
		<div class="w3-section">
			<label class="xl w3-third">Bf. Nummer</label>		<input id="bf-number" 	readonly class="xi w3-twothird w3-sand" value="0000">
			<label class="xl w3-third">Bf. Name</label>			<input id="bf-name"		readonly class="xi w3-twothird w3-sand" value="Timbuktu">
			<label class="xl w3-third">Bf. Anschrift</label>	<input id="bf-address"	readonly class="xi w3-twothird w3-sand" value="Strasse 24, 12345 Ort">
			<label class="xl w3-third">Bahnstelle</label>		<input id="bf-account"	readonly class="xi w3-twothird w3-sand" value="999999">
			<label class="xl w3-third">Betriebsstelle</label>	<input id="bf-betrieb"	readonly class="xi w3-twothird w3-sand" value="AAA">
		</div>
	</div>
</div> 

<!-- -->


<script src="res/js/itbf8prog.js"></script>
<script src="res/data/itbf8data.js" defer></script>
<script>
	
$(document).ready(function(){
  // jQuery initialization goes here...
	itbf8_createIndices();
	display_network(itbf8_retrieve_number("|<"));
	xeq_show("d1");
}); 

function xeq_show(tag) {
	const activecolor = "w3-khaki";
	$(".d1").hide(); $("#d1").removeClass(activecolor);
	$(".d2").hide(); $("#d2").removeClass(activecolor);
	$(".d3").hide(); $("#d3").removeClass(activecolor);
	$("." + tag).show(); 
	$("#" + tag).addClass(activecolor);
}

function xeq_cmd(pos, command, pattern) {
	switch(pos) {
		case 0: display_network(itbf8_retrieve_network(command, pattern));
				break;
		case 1: display_network(itbf8_retrieve_number(command, pattern));
				break;
		case 2: display_network(itbf8_retrieve_name(command, pattern));
				break;
	}
}

function display_network(item) {
	if (item == undefined) {
		$("#bf-number" 	).val("");
		$("#bf-name"	).val("");
		$("#bf-address"	).val("");
		$("#bf-account"	).val("");
		$("#bf-betrieb"	).val("");
		
		$("#ip-subnet" 	).val("");
		$("#ip-first" 	).val("");
		$("#ip-last" 	).val("");
		$("#ip-mask"	).val("");
		$("#ip-count" 	).val("");
		
		$("#range-lan"	 	).val("");
		$("#range-bacsys" 	).val("");
		$("#range-bacdev"	).val("");
		$("#range-service" 	).val("");
		
		$("#ip-gateway" 	).val("");
		$("#ip-bbmd" 		).val("");
		$("#ip-router"		).val("");
		$("#ip-devices" 	).val("");		
		return;
	}
	$("#bf-number" 	).val(item.vst_nr);
	$("#bf-name"	).val(item.vst_name);
	$("#bf-address"	).val(item.vst_strasse.concat((item.vst_strasse == "")?'':', ', item.vst_plz, ' ', item.vst_ort));
	$("#bf-account"	).val(item.bahnstelle);
	$("#bf-betrieb"	).val(item.vst_100);
		
	$("#ip-subnet" 	).val(item.subnetz);
	$("#ip-first" 	).val(network_ipfirst(item.subnetz));
	$("#ip-last" 	).val(network_iplast(item.subnetz));
	$("#ip-mask"	).val(network_ipmask(item.subnetz));
	$("#ip-count" 	).val(network_ipwidth(item.subnetz));

	$("#range-lan"	 	).val(itbf8_scheme("rg-lan", item.subnetz));
	$("#range-bacsys" 	).val(itbf8_scheme("rg-sys", item.subnetz));
	$("#range-bacdev"	).val(itbf8_scheme("rg-dev", item.subnetz));
	$("#range-service" 	).val(itbf8_scheme("rg-srv", item.subnetz));

	$("#ip-gateway" 	).val(itbf8_scheme("offset", item.subnetz,  1));
	$("#ip-bbmd" 		).val(itbf8_scheme("offset", item.subnetz, 21));
	$("#ip-router"		).val(itbf8_scheme("offset", item.subnetz, 22));
	$("#ip-devices" 	).val(itbf8_scheme("offset", item.subnetz, 51));
}

</script>


