<!-- DB TOOLS NETWORK
 --- Authorize
 --- 
 --- login screen: id="authorize"	display:block
 --- application:  id="content"		display:none
 --->
<!-- v4 15.08.2023 file structure changed to "static" dir -->


<div class="">
	<div class="w3-panel w3-pale-green" style="overflow-x:hidden">
		<button class="w3-button w3-right w3-padding w3-hover-green w3-large w3-round-large login">Anmelden</button>
		<h3>Autorisierung erforderlich</h3>
	</div>
	<div class="w3-container w3-card-4 w3-text-blue">
		<form action="mailto:nobody@deutschebahn.com" class="w3-row">
			<div class="w3-row">
				<div class="w3-col s12 m12 l6 w3-padding">
					<input id="loginName" class="w3-input w3-border" name="loginName" type="text" placeholder="Name">
				</div>
				<div class="w3-col s12 m12 l6 w3-padding">
					<input id="loginPass" class="w3-input w3-border" name="loginPass" type="password" placeholder="Kennwort">
				</div>
			</div>
		</form>
	</div>
</div>

<!-- -->


<script>
$(document).ready(function(){
  // jQuery initialization goes here...

	$(".login").click(doLogin);
	$("#loginPass").change(doLogin);
	$("#loginName").change(function() { if ($(this).val().length) $("#loginPass").focus(); });
	$("input").focus(function() { $(this).css("background-color", "white");});
	
	showContent(user.status());
}); 	
	
function doLogin() {
	let status = user.status();
	if (status) { 
		user.logoff();		 /* Funktion wird auch zum Abmelden genutzt ! */
	} else {
		if (($("#loginName").val().toLowerCase() == "admin") && ($("#loginPass").val().toLowerCase() == "admin")) {
			easteregg.open();
			return;
		}
		user.logon($("#loginName").val(), $("#loginPass").val());
	}
	showContent(user.status());
} 

function showContent(status) {
	$("#loginPass").val("");
	if (status) {
		$("#loginName").val("");
	}
	if (status){ 
		$("#authorize").hide(); 
		$("#content").show(); 
		$("#dataversion").text("Netz " + itbf8_version); 
		$("#username").text(user.name()); 
	} else {
		$("#authorize").show(); 
		$("#content").hide(); 
		$("#dataversion").text("User " + user_version);	 
		$("#username").text(''); 
	}
}

function checkLogin() {
	let result = false;
	let status = user.status();
	
	if (status) {	console.log("checkLogin user:", user.name()); 
					return true; }
	
	let loginName = $("#loginName").val();
	let loginPass = $("#loginPass").val();
	
	return user.logon(loginName, loginPass);
}
</script>


