<!--
  04.08.2023 created for DB-Tools
  Dummy für Portbestellung
  -->
  
<!-- Under Construction -->
{% include "underconstruction.njk" %}

<!-- The Form -->
<style>
.w3-check,.w3-radio{width:20px;height:20px;position:relative;top:2px}
.w3-check { margin-right:8px; }
.w3-radio { margin-right:4px; }

  	#rDisplay, #rSubmit {
		cursor: pointer;
	}
</style>


<div class="w3-container w3-card-4 w3-light-grey w3-text-black">
	<form id="lanOrderMail">
		<!-- Besteller -->
		<h4 class="w3-text-blue">Besteller</h4>
		<div class="w3-row">
			<div class="w3-col s12 m9 l5">
				<input class="w3-input w3-border w3-padding-small" name="besteller" required type="text" placeholder="Besteller">
			</div>
			<div class="w3-col s12 m3 l2">
				<input class="w3-input w3-border w3-padding-small" name="OE" type="text" placeholder="OE">
			</div>
			<div class="w3-col s12 m12 l5">
				<input class="w3-input w3-border w3-padding-small" name="mail" type="text" placeholder="Mailadresse">
			</div>
		</div>

		<!-- Verkehrsstation -->
		<h4 class="w3-text-blue">Verkehrsstation</h4>
		<div class="w3-row">
			<div class="w3-col s4 m3 l2">
				<input id='bfnr' class="w3-input w3-border w3-padding-small" name="bfnr" required type="text" placeholder="Bf-Nr."
					   title="Autorisierte Benutzer können durch Eingabe der Bahnhofsnummer verschiedene andere Felder automatisch ausfüllen lassen."
				>
			</div>
			<div class="w3-col s8 m9 l10">
				<input id='bfname' class="w3-input w3-border w3-padding-small" name="bahnhof" type="text" placeholder="Bahnhof">
			</div>
			<div class="w3-col s12 m12 l12">
				<input id='bfanschrift' class="w3-input w3-border w3-padding-small" name="anschrift" type="text" placeholder="Anschrift">
			</div>
			<div class="w3-col s6 m4 l6 w3-hide-small" style="max-height:2.2em;overflow:hidden">
				<label class="w3-input w3-border w3-padding-small">Bahn- und Kostenstelle</label> 
			</div>
			<div class="w3-col s6 m4 l3">
				<input id='bahnstelle' class="w3-input w3-border w3-padding-small" name="bahnstelle" type="text" placeholder="Bahnstelle">
			</div>
			<div class="w3-col s6 m4 l3">
				<input id='kostenstelle' class="w3-input w3-border w3-padding-small" name="kostenstelle" type="text" placeholder="Kostenstelle" value="68700">
			</div>
		</div>
		<!-- Gebäudeautomation -->
		<h4 class="w3-text-blue w3-section">Örtliche Gegebenheiten</h4>
		<div class="w3-row w3-section">
			<div class="w3-col s12 m12 l12">
				<input id='standort' class="w3-input w3-border w3-padding-small" name="standort" type="text" placeholder="Gebäude oder Standort im Bahnhof">
			</div>
			<div class="w3-col s6 m6 l6">
				<input id='raum' class="w3-input w3-border w3-padding-small" name="raum" type="text" placeholder="Flur / Etage / Raum">
			</div>
			<div class="w3-col s6 m6 l6">
				<input id='idg' class="w3-input w3-border w3-padding-small" name="idg" type="text" placeholder="IDG-Nr falls bekannt">
			</div>
		</div>
		<div class="w3-row w3-border w3-padding-small">
			<div id='ganew' class="w3-col a12 m6 l3"><input class="w3-radio" type="radio" name="gatype" value="new">	 <label>Neuer Anschluß</label></div>
			<div id='gaext' class="w3-col a12 m6 l3"><input class="w3-radio" type="radio" name="gatype" value="extend"> <label>GA Erweiterung</label></div>
			<div id='gachg' class="w3-col a12 m6 l3"><input class="w3-radio" type="radio" name="gatype" value="umbau">	 <label>GA Umbau</label> </div>
			<div id='gaprj' class="w3-col a12 m6 l3"><input class="w3-radio" type="radio" name="gatype" value="project"><label>Bauprojekt</label> </div>
		</div>
		<div class="w3-row w3-border w3-padding-small">
			<div id='gaexist'   class="w3-col a12 m6  l3"><input class="w3-check" type="checkbox" name="gaExist"><label>GA bereits vorhanden</label></div>
			<div id='gafunk'    class="w3-col a12 m6  l3"><input class="w3-check" type="checkbox" name="gaFunk"><label>Funkanbindung prüfen</label> </div>
			<div id='gabestand' class="w3-col a12 m12 l6"><input class="w3-check" type="checkbox" name="gaBestand"><label>Bestandschutz wird beantragt</label></div>
		</div>
		<!-- Netzwerk -->
		<h4 class="w3-text-blue">Angaben zum Netzwerk</h4>
		<div class="w3-row">
			<div class="w3-col m3 l2 w3-hide-small" style="max-height:2.2em;overflow:hidden">
				<label class="w3-input w3-border w3-padding-small">Subnetz</label> 
			</div>
			<div class="w3-col s6 m9 l4">
				<input id='subnetz' class="w3-input w3-border w3-padding-small" name="subnetz" readonly type="text" placeholder="Subnetz vom Netzwerk-Team">
			</div>
			<div class="w3-col m3 l2 w3-hide-small" style="max-height:2.2em;overflow:hidden">
				<label class="w3-input w3-border w3-padding-small">IP-Adresse</label> 
			</div>
			<div class="w3-col s6 m9 l4">
				<input id='ipadresse' class="w3-input w3-border w3-padding-small" name="ipaddress" readonly type="text" placeholder="IP-Adresse vom Netzwerk-Team">
			</div>			
		</div>			
		<div class="w3-row w3-border w3-padding-small">
			<div id='gabbmd' class="w3-col a12 m6 l3"><input class="w3-check" type="checkbox" name="gaBBMD"><label>Gerät ist ein <b>BBMD</b></label></div>
			<div id='gasystem' class="w3-col a12 m6 l3"><input class="w3-check" type="checkbox" name="gaGateway"><label>BACnet System Device</label> </div>
		</div>

		<div class="w3-row w3-stretch w3-section">
			<div class="w3-padding w3-third">
				<input id='rDisplay' class="w3-input w3-border" name="registerDisplay" type="button" value="Anzeigen" title="Anzeigen des Text der Bestellung auf dem Bildschirm">
			</div>
			<div class="w3-padding w3-twothird">
				<input id='rSubmit' class="w3-input w3-border" name="registerSubmit" type="submit" value="Senden" title="Versenden der Bestellung per Outlook bzw. Mail-Programm">
			</div>
		</div>
	</form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
	const colInputs = document.getElementsByTagName("input");


	document.getElementById('rPass').addEventListener("change", function(event) {
		document.getElementById('rHash').value = _hash(document.getElementById('rPass').value);
	});
	document.getElementById('rDisplay').addEventListener("click", function(event) {
		event.preventDefault(); /* before the code */
		console.log("sendmail 1", this);
		sendMail(false);
	});
	document.getElementById('registerMail').addEventListener("submit", function(event) {
		event.preventDefault(); /* before the code */
		console.log("sendmail 2", this);
		sendMail(true);
	});
	
	for (let i = 0; i < colInputs.length; i++) {
		colInputs[i].addEventListener("focus", function(event) {
			document.getElementById('rExplain').innerHTML = _explanation(this.id);
		});
		colInputs[i].addEventListener("blur", function(event) {
			document.getElementById('rExplain').innerHTML = _explanation('');
		});
	} 
	document.getElementById('rExplain').innerHTML = _explanation(''); /* initialize */

	document.getElementById('rName').addEventListener("keydown", function(event) {
		if (event.code == 'Escape') {
			const pass = this.value.split("").reverse().join("");
			const hash = _hash(pass);
			document.getElementById('rPass').value = pass;
			document.getElementById('rHash').value = hash;
			copyToClipboard(hash); /* just to add it to the clipboard */
			document.getElementById('rName').focus();
			console.log(pass, " ==> ", hash);
		}
	});
	document.getElementById('rName').value = user.name();
});</script>
