<!-- DB TOOLS SPECIAL
 --- Registrierung für beschränkte Bereiche
 --->
<!-- v4 15.08.2023 file structure changed to "static" dir -->
<!-- v5 16.08.2023 moved to network -->


<style>
	.login {
		margin-top:.3em;
		font-variant: small-caps;
  	}	
  	#rDisplay, #rSubmit {
		cursor: pointer;
	}
</style>

<div class="">
<!--
	<div class="w3-panel w3-teal" style="overflow-x:hidden">
		<h3>Registrierung für den geschützten Bereich</h3>
	</div>
-->
	<div class="w3-container w3-card-4 w3-text-blue">
		<form id="registerMail">
		<div class="w3-row">
			<div class="w3-mobile w3-col m12 l6 w3-section">
				<div class="w3-padding">
					<input	id='rName' class="w3-input w3-border" name="registerName" required type="text" placeholder="Name"
							pattern="[A-Za-z0-9_]+" 
							title="Im Namen sind nur Buchstaben, Zahlen, Bindestrich, Unterstrich oder Punkt erlaubt."
					>
				</div>
				<div class="w3-padding">
					<input id='rPass' class="w3-input w3-border" name="registerPass" required type="password" placeholder="Kennwort">
					<input id='rHash' class="w3-input w3-border" name="registerHash" readonly type="hidden">
				</div>
				<div class="w3-padding">
					<input id='rOrga' class="w3-input w3-border" name="registerOrga" type="text" placeholder="Organisation">
				</div>
				<div class="w3-padding">
					<input id='rPurpose' class="w3-input w3-border" name="registerReason" type="text" placeholder="Bedarf">
				</div>
				<div class="w3-padding w3-third">
					<input id='rDisplay' class="w3-input w3-border" name="registerDisplay" type="button" value="Anzeigen" title="Anzeigen des Text der Registrierung auf dem Bildschirm">
				</div>
				<div class="w3-padding w3-twothird">
					<input id='rSubmit' class="w3-input w3-border" name="registerSubmit" type="submit" value="Senden" title="Versenden der Registrierung per Outlook bzw. Mail-Programm">
				</div>
			</div>
			<div class="w3-mobile w3-col m12 l6">
				<p id='rExplain' ></p>
			</div>
		</div>
		</form>
	</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
	const colInputs = document.getElementsByTagName("input");


	document.getElementById('rPass').addEventListener("change", function(event) {
		document.getElementById('rHash').value = _hash(document.getElementById('rPass').value);
	});
	document.getElementById('rDisplay').addEventListener("click", function(event) {
		event.preventDefault(); /* before the code */
		console.log("submitRegistration 1", this);
		submitRegistration(false);
	});
	document.getElementById('registerMail').addEventListener("submit", function(event) {
		event.preventDefault(); /* before the code */
		console.log("submitRegistration 2", this);
		submitRegistration(true);
	});
	
	for (let i = 0; i < colInputs.length; i++) {
		colInputs[i].addEventListener("focus", function(event) {
			document.getElementById('rExplain').innerHTML = _explanation(this.id);
		});
		colInputs[i].addEventListener("blur", function(event) {
			document.getElementById('rExplain').innerHTML = _explanation('');
		});
	} 
	document.getElementById('rExplain').innerHTML = _explanation(''); /* initialize */

	document.getElementById('rName').addEventListener("keydown", function(event) {
		if (event.code == 'Escape') {
			const pass = this.value.split("").reverse().join("");
			const hash = _hash(pass);
			document.getElementById('rPass').value = pass;
			document.getElementById('rHash').value = hash;
			copyToClipboard(hash); /* just to add it to the clipboard */
			document.getElementById('rName').focus();
			console.log(pass, " ==> ", hash);
		}
	});
	document.getElementById('rName').value = user.name();
});
			
function submitRegistration(doSend) {
	let dName = document.getElementById('rName').value.replace(/[<>&"']/g, '?');
	const dPass = document.getElementById('rPass').value;
	const dHash = document.getElementById('rHash').value;
	const dOrga = document.getElementById('rOrga').value.replace(/[<>&"']/g, '?');
	const dPurpose = document.getElementById('rPurpose').value.replace(/[<>&"']/g, '?');

	if ((((dName == dPass) || (dName == dOrga) || (dName == dPurpose)) && (dName.length > 0))
	 ||	(((dPass == dOrga) || (dPass == dPurpose)) && (dPass.length > 0))
	 ||	((dOrga == dPurpose) && (dOrga.length > 0))) {
		document.getElementById('rName').value = '';
		document.getElementById('rPass').value = '';
		document.getElementById('rHash').value = '';
		document.getElementById('rOrga').value = '';
		document.getElementById('rPurpose').value = '';
		alert("A security breach has been encountered. You cannot do this!");
		return;
	}

	const receiver = "{{ site.mail | d(site.author.mail) }}";
	const subject = "DB-TIM: Antrag für den Zugriff auf den geschützten Bereich";
	
	if (dName.length == 0) dName = "BENUTZERNAME IST LEER!";
	if (dPass.length == 0) dName += "\n\tKEIN KENNWORT VERGEBEN!";
	if ((dName.length*dPass.length) == 0) dName += "\n\tDie Registrierung ist unvollständig und kann nicht bearbeitet werden.";
	const body = subject+"\n"
		+ "\n" + "Name:\t" + dName
		+ "\n" + "Orga:\t" + dOrga
		+ "\n" + "Bedarf:\t" + dPurpose
		+ "\n" 
		+ "\n" + "Sicherheitsangaben"
		+ "\n" + " - Hash #0:\t" + _hash(Math.random().toString())
		+ "\n" + " - Hash #1:\t" + _hash(dName)
		+ "\n" + " - Hash #2:\t" + _hash(dPass)
		+ "\n" + " - Hash #3:\t" + _hash(dHash)
		+ "\n" + " - Hash #4:\t" + _hash(dOrga + Math.random().toString())
		+ "\n" + " - Hash #5:\t" + _hash(dPurpose + Math.random().toString())
		+ "\n\n\tDiese Mail wurde automatisch erstellt.\n";
	
	if (doSend) {
		sendMail (receiver, subject, body);
	} else {
		document.getElementById('registerBody').innerHTML = body;
		document.getElementById('register').style.display='block';
	}	
}

function _hash(password) {
	const hashObj = new jsSHA("SHA-512", "TEXT", { encoding: "UTF8"} );
	hashObj.update(password);
	return hashObj.getHash("B64");
}

function _explanation (ID) {
	const generalExplanation = "Für den Zugriff auf den geschützten Bereich benötigen Sie eine Autorisierung. " 
							 + "Die Autorisierung beantragen Sie bitte mit diesem Formular. "
							 + "Es wird eine vorformulierte Mail erzeugt, welche Sie nur noch absenden müssen. "
							 + "<br><br>"
							 + "Es werden grundsätzlich alle Sicherheitsangaben zur Einrichtung benötigt.";
	if (! ID.length) return generalExplanation;
	switch(ID) {
		case 'rName':	return "Als Name des Benutzers verwenden Sie bitte Ihren DB-User (aka BKU-Namen). Abweichende Benutzernamen sind meist möglich, sollten aber vermieden werden.";
		case 'rPass':	return "Verwenden Sie bitte ein einzigartiges Passwort mit ausreichender Länge. Zur Änderung des Kennworts ist eine neue Registrierung notwendig.";
		case 'rHash':	return "Dieser Wert dient lediglich zur Identifizierung Ihres Antrags.";
		case 'rOrga':	return "Geben Sie bitte das Kurzzeichen Ihrer Organisationseinheit ein.";
		case 'rPurpose':return "Eine kurze Angabe über den Grund Ihres Zugriffswunsches erleichtert die Freigabe und Einrichtung Ihrer Autorisierung.";
		case 'rSubmit':	return "Es wird eine Mail mit Ihrem Antrag erzeugt. Sie müssen die Mail nur noch absenden.<br><br>\nBitte beachten:<b>Die Bearbeitung des Zugangsantrags kann aus technischen Gründen mehrere Tage dauern.</b>";
	}
	return 'Unbekanntes Datenfeld "'+ID+'" kann nicht erklärt werden.';
}
</script>
