<!-- tim-bm.njk
  --
  -- TIM Serverauswahl über Bahnhofsmanagements
  -->


<div class="w3-container">
	<section class="">

	</section>
	
	<section class="w3-row-padding">
		{% for data in tim.BMs %}
			{% if data.RB == 'RB Nord' %}{% set color = tim.RBs[0].color %}
			{% elif data.RB == 'RB Ost' %}{% set color = tim.RBs[1].color %}
			{% elif data.RB == 'RB West' %}{% set color = tim.RBs[2].color %}
			{% elif data.RB == 'RB Südost' %}{% set color = tim.RBs[3].color %}
			{% elif data.RB == 'RB Mitte' %}{% set color = tim.RBs[4].color %}
			{% elif data.RB == 'RB Südwest' %}{% set color = tim.RBs[5].color %}
			{% elif data.RB == 'RB Süd' %}{% set color = tim.RBs[6].color %}
			{% else %}{% set color = "grey" %}{% endif %}
			{% set hint %}{{ data.server }} ({{ data.sid }}) &#8680; {{ data.fqdn }}{% endset %}
			{% set url %}https://{{ data.fqdn }}/enteliweb{% endset %}
			<article class="tim-server w3-col m6 l4 w3-padding" data-fqdn="{{ data.fqdn }}">
			<div class="w3-card-4">
				<header>
					<a href="{{ url }}" title="{{ hint | safe }}" target = "{{ target | d('_self') }}">>
						<div class="w3-container w3-padding w3-{{ color | d('brown') }} w3-hover-shadow caption">
							<b>{{ data.name | d('&nbsp;') | safe }}</b>
							<span class="w3-right">{{ data.RB | d('&nbsp;') | safe }}</span>
						</div>
					</a>
				</header>

				<div class="w3-container w3-padding w3-hide-small">
					<a href="{{ url }}" title="{{ hint | safe }}" class="w3-margin-bottom" target = "{{ target | d('_self') }}">>
						{{ data.fqdn }}
					</a>
				</div>
			</div>
			</article>

		{% endfor %}
	</section>
</div>
