---
layout: index.njk
collection: develop
eleventyExcludeFromCollections: true
default:
  icon: scroll-text
  color: lime
---

{% for card in collections.develop | reverse %}
	{% include 'minicard.njk' %}
{% endfor %}
