---
layout: main.njk
description: "Information"
dbstyle: true
testbutton: false
---
 
<!-- index - main entry point
  -- 
  -- Übersicht über die Funktionen
  -- 08.ß9.2023 - revived
  -->

<div class="w3-container">

	<section class="w3-row-padding">
		{% for data in menus.top %}
			{% if not data.hide %}
			<article class="tim-server w3-padding" data-fqdn="{{ data.fqdn }}">
				
				<div class="w3-card-4">
					<header>
						<a href="{{ data.url }}" title="{{ data.hint | safe }}">
							<div class="w3-container w3-padding w3-{{ data.color | d('gray') }} w3-hover-shadow caption">
								<b>{{ data.hint | d('&nbsp;') | safe }}</b>
								<span class="w3-right">{{ data.sid | d('&nbsp;') | safe }}</span>
							</div>
						</a>
					</header>
					
					<div class="w3-container w3-white w3-hide-small">
						<div class="w3-quarter w3-center w3-hover-shadow" style="vertical-align:middle;overflow:hidden;">
							<a href="{{ data.url }}" title="{{ data.hint | safe }}" class="tim-url">
								<img src="res/img/{{ data.img | d('home.svg') }}" class="w3-panel w3-image" style="height:100%;max-height:3rem">
							</a>
						</div>
						<div class="w3-rest w3-padding-tiny w3-small w3-hide-small" style="overflow:hidden;">
							<p>{% for line in data.text %}
								{{ line }}<br>
							{% endfor %}</p>
						</div>
					</div>
				
					{% if data.bottom %}
					<footer>
						<div class="w3-container w3-padding w3-light-grey" style="overflow:hidden;">
							<a href="{{ data.url }}" title="{{ data.hint | safe }}" class="w3-margin-bottom ">
								{{ data.bottom }}
							</a>
						</div>
					</footer>
					{% endif %}
				</div>
			</article>
			{% endif %}
		{% endfor %}
	</section>	
</div>
