---
layout: main.njk
description: "Information"
imgdir: /static/img

menu:
    - name: Tool Chain
      hint: Web Development Tool Chain
      icon: wrench
      data: toolchain
    - name: Illustration
      hint: Web Development Tool Chain
      icon: image
      data: illustrations
    - name: Manuals
      hint: Web Development Manuals
      icon: book-open
      data: manuals
---

<!-- index - main entry point
  --
  -- 18.11.2023 - komplett neu
  -->

<div class="w3-container">
	<section class="w3-row-padding">
		{% for card in cards %}
			<article class="w3-col s12 m6 l4 w3-padding" >
				<div class="w3-card-4">

					<header>
						<a href="{{ card.url }}" title="{{ card.description | safe }}">
							<div class="w3-container w3-padding w3-{{ card.color | d('gray') }} w3-hover-shadow">
								<span>{{ card.caption | d('&nbsp;') | safe }}</span>
								<span class="w3-right">{{ card.tag | d('&nbsp;') | safe }}</span>
							</div>
						</a>
					</header>

					<div class="w3-container w3-white w3-hide-small">
						<div class="w3-col w3-center w3-hover-shadow" style="width:5rem;margin:8px 4px;vertical-align:middle;">
							{% if card.url -%}
							<a href="{{ card.url }}" title="{{ card.hint | safe }}">
							{%- endif %}
								<div class="w3-image w3-padding" {% if card.action -%}onclick="{{ card.action }}"{%- endif %}>
									{% set icon %}{{ card.icon | d('zap') }}{% endset %}
									{% lucide icon, { "size": "3rem" } %}
								</div>
							{%if card.url %}</a>{% endif %}
						</div>
						<div class="w3-rest w3-padding-tiny w3-container w3-small w3-hide-small" style="height:6rem;overflow:hidden">
							<p>{% for line in card.text %}
								{{ line | safe }}<br>
							{% endfor %}</p>
						</div>
					</div>

					<footer>
						<div class="w3-container w3-padding w3-light-grey w3-tiny" style="height:2rem;overflow:hidden">
							{% if card.url -%}
							<a href="{{ card.url }}" title="{{ card.hint | safe }}" class="w3-margin-bottom ">
							{%- endif %}
								{{ card.bottom | d("&nbsp;") | safe }}
							{% if card.url -%}
							</a>
							{%- endif %}
						</div>
					</footer>
				</div>
			</article>
		{% endfor %}
	</section>
</div>
