---
layout: redirect.njk
description: "map redirector"
delay: 1
target: "/tim-1.html"
---

<main class="w3-container" onclick="window.location.replace('{{ target }}');">
	<div class="w3-panel w3-blue">
		<h3>Weiterleitung</h3>
	</div> 
	<div class="w3-panel">
		<p>Diese Seite hat eine neue Adresse erhalten.</p>
		<p>Die neue Seite wird jetzt aufgerufen</p>
	</div> 
</main>
