---
layout: main.njk
description: "ITBF-8 Netzwerk"
dbstyle: true
enable:
    jquery: true

pagination:
  data: menus.network
  size: 1
permalink: "{{ page.fileSlug | slug }}-{{ pagination.pageNumber }}.html"
topic: "network"
--- 

<!-- Unterauswahl für schmale Schirme -->
<nav class="w3-hide-medium w3-hide-large" style="margin-top:-16px;">
	<div class="w3-bar w3-dark-gray">
	{% for data in menus.network %}
	  {% if not data.hide %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
	<button class="w3-bar-item w3-button w3-right" ondblclick='openModal("offline");'>&nbsp;</button>
	</div> 
</nav>

<!-- Sidebar -->
<nav class="w3-hide-small sidebar w3-sidebar w3-bar-block w3-white">
	{% for data in menus.network %}
	  {% if not data.hide %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button tablink">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
</nav>

<div id="authorize" class="content">
	{% include 'app/lan-authorize.njk' %}
</div>

<div id="content" class="content" style="display:none">
{%- for item in pagination.items %}
	<div class="">
		<div class="w3-panel w3-green" style="overflow-x:hidden">
			<button class="w3-button w3-right w3-padding w3-hover-pale-green w3-large w3-round-large login"
					>Abmelden</button>
			<h3>{{ item.caption | d(' ') }}</h3>
		</div>
	</div>
	{%- if item.file %}
		{% include 'app/' +  item.file + '.njk' %}
	{% elif item.exec %}
		<script>{{ item.exec }};</script>
	{% endif -%}
{% endfor -%}
</div>
