---
layout: main.njk
description: "Specials"
dbstyle: true

pagination:
  data: menus.specials
  size: 1
permalink: "{{ page.fileSlug | slug }}-{{ pagination.pageNumber }}.html"
topic: "specials"
--- 
    
<!-- Unterauswahl für schmale Schirme -->
<nav class="w3-hide-medium w3-hide-large" style="margin-top:-16px;">
	<div class="w3-bar w3-dark-gray">
	{% for data in menus.specials %}
	  {% if not data.hide %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
	<button class="w3-bar-item w3-button w3-right" ondblclick='openModal("offline");'>&nbsp;</button>
	</div> 
</nav>

<!-- Sidebar -->
<nav class="w3-hide-small sidebar w3-sidebar w3-bar-block w3-white">
	{% for data in menus.specials %}
	  {% if not (data.hide or (data.env and site.env)) %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button tablink">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
</nav>

<div class="content">
	{%- for item in pagination.items %}
		<div class="w3-panel w3-pale-gray" style="overflow-x:hidden">
		{%- if item.hint %}<h4>{{ item.hint }}</h4>{% endif -%}
		</div>
		{%if item.file %}
			{% include 'app/' +  item.file + '.njk' %}
		{% endif %}
	{% endfor -%}
</div>


