---
layout: main.njk
description: "TIM Server"
dbstyle: true
target: tim

pagination:
  data: menus.tim
  size: 1
permalink: "{{ page.fileSlug | slug }}-{{ pagination.pageNumber }}.html"
topic: "tim"

--- 

<script>
	document.addEventListener("DOMContentLoaded", function(evt)	{ intervalTimer(true);});
</script>

<!-- Unterauswahl für schmale Schirme -->
<nav class="w3-hide-medium w3-hide-large" style="margin-top:-16px;">
	<div class="w3-bar w3-dark-gray">
	{% for data in menus.tim %}
	  {% if not data.hide %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
	<button class="w3-bar-item w3-button w3-right" ondblclick='openModal("offline");'>&nbsp;</button>
	</div> 
</nav>

<!-- Sidebar -->
<nav class="w3-hide-small sidebar w3-sidebar w3-bar-block w3-white">
	{% for data in menus.tim %}
	  {% if not data.hide %}
		<a href="{{ page.fileSlug | slug }}-{{ loop.index0 }}.html" class="w3-bar-item w3-button">{{ data.name }}</a>
	  {% endif %}
	{% endfor %}
	<button class="w3-bar-item w3-button" ondblclick='openModal("offline");'>&nbsp;</button>
<!-- <button class="w3-bar-item w3-button" ondblclick='openModal("offline");'>&#127465;&#127466</button> -->
</nav>

<!-- Content -->
<div class="content">
	{%- for item in pagination.items %}
		<div class="w3-panel w3-pale-gray" style="overflow-x:hidden">		
		{%- if item.hint %}
				
			<div class=" w3-right" style="padding:12px;">
			{%- for data in tim.server -%}
				<span id="S{{ data.sid }}" data-fqdn="{{ data.fqdn }}" 
					  class="tim-status w3-yellow w3-center hwn-uppercase"
					  style="font-size:8px; display:inline-block;width:10px;margin:0 1px;padding 0 2px; cursor:pointer;"
					  onclick='toggleServerColor("{{ key }}");');
					  title="Server {{ data.sid }}"
					  >{{ data.type }}</span>
			{%- endfor -%}
			</div>
			<h4>{{ item.hint }}</h4>
		{% endif -%} <!-- if item.hint -->
		</div>
	
	
	
	{%- if item.file %}
		{% include 'app/' +  item.file + '.njk' %}
	{% endif %}<!-- if item.file -->
	{% endfor -%}
	</h2>
</div>


