---
layout: index.njk
collection: manual
eleventyExcludeFromCollections: true
default:
  icon: scroll-text
  color: light-blue
---

{% for card in collections.manual | reverse %}
	{% include 'minicard.njk' %}
{% endfor %}
